{% extends "base.html" %} {% block title %}404{% endblock %}
{% block content %}
<p class="display-1">err#:404 :(</p>
<hr>
<h1>Oh no!</h1>
<p class="lead">Seems like you found a glitch in the system. If you think this is an error and should not have happened, please contact me 
  <a href="https://www.facebook.com/louis.superficial.velasco.1/" target="_blank" class="text-decoration-none">here on <i class="fa fa-facebook"></i></a> 
  or look for the handsome young man on SGOD 2. Otherwise, click <a href="/" class="text-decoration-none">here</a> to return home.</p>
{% endblock %}