{% extends "base.html" %} {% block title %}Administration{% endblock %}
{% block content %}
<h1 class="mb-4">Manage Personnel <br>
  <button class="btn btn-sm btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-add"></i> Add Personnel</button>
</h1>
<table class="table table-light table-responsive table-striped align-middle" id="staffTable">
  <thead>
    <tr>
      <th class="d-none">id</th>
      <th></th>
      <th>ID #</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for personnel in staff %}
    <tr>
      <td class="d-none">{{personnel.id}}</td>
      <th>
        {% if personnel.img_name != None %}
        <img src="/img/{{personnel.staff_id_no}}" alt="{{personnel.img_name}}" class="staff_img">
        {% else %}
        <img src="{{ url_for('static',filename='media/user.png') }}" alt="{{personnel.img_name}}" class="staff_img">
        {% endif %}
      </th>
      <td>{{personnel.staff_id_no}}</td>
      <td>{{personnel.name}}</td>
      <td>
        <span data-bs-toggle="tooltip" data-bs-placement="left" title="View DTR"><a href="generate/{{personnel.staff_id_no}}" target="_blank" class="btn btn-outline-success"><i class="fa fa-eye"></i></a></span>
        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><button class="btn btn-outline-primary editPersonnel" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-pencil-square-o"></i></button></span>
        <span data-bs-toggle="tooltip" data-bs-placement="right" title="Delete"><button data-href="/del/personnel/{{personnel.id}}" data-name="{{personnel.name}}" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirm-del"><i class="fa fa-trash"></i></button></span>
      </td>
    </tr>
    {% endfor%}
  </tbody>
</table>
{% endblock %}

{% block modals %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark custom-modal-text" id="staticBackdropLabel">Enroll Personnel to Application</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
        <form method="POST" id="admin_personnel" enctype="multipart/form-data"></form>
        <div class="mb-3">
          <input type="hidden" class="form-control" form="admin_personnel" name="db_id" id="p_db_id" value="">
        </div>

        <div class="mb-3">
          <input type="file" class="form-control" form="admin_personnel" name="personnel_img" id="p_img" value="">
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" form="admin_personnel" name="personnel_id" id="p_id" placeholder="ID #" value="">
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" form="admin_personnel" name="personnel_name" id="p_name" placeholder="Personnel Full Name" value="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" form="admin_personnel" id="save-btn">Add Personnel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirm-del" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark custom-modal-text" id="staticBackdropLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark custom-modal-text">
        <p>You are about to delete <span class="personnel-name"></span> from the table, this procedure is irreversible.</p>
        <p>Do you wish to proceed?</p>
        <p class="debug-url"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}