{% extends "base.html" %} {% block title %}Generate{% endblock %}
{% block content %}
<form method="post" id="generate_user_log"></form>
<h1>enter your id #.</h1>
<div class="box">
  <input type="text" name="idno" form="generate_user_log" class="text-white font-weight-bold" autofocus required>
</div>
<!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
<p class="lead">
  <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" form="generate_user_log">submit</button>
</p>
{% endblock %}