{% extends "base.html" %} {% block title %}Daily Logs{% endblock %}
{% block content %}
<h1 class="mb-4">Logs for today.</h1>
<table class="table table-dark table-hover table-bordered table-striped" id="logTable">
  <thead>
    <tr>
      <th class="text-center">~sdoin.dtr</th>
      <th colspan="2" class="text-center">AM</th>
      <th colspan="2" class="text-center">PM</th>
    </tr>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">In</th>
      <th class="text-center">Out</th>
      <th class="text-center">In</th>
      <th class="text-center">Out</th>
    </tr>
  </thead>
  <tbody>
    {% for dtr in allDtr %}
    <tr>
      {% for personnel in allStaff if personnel.id == dtr.staff_id %}
      <td>{{personnel.name}}</td>
      {% endfor %}
      <td class="text-center">{{dtr.time_in_am.strftime('%I:%M')}}</td>
      <td class="text-center">{{dtr.time_out_am.strftime('%I:%M')}}</td>
      <td class="text-center">{{dtr.time_in_pm.strftime('%I:%M')}}</td>
      <td class="text-center">{{dtr.time_out_am.strftime('%I:%M')}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endblock %}